<template>
  <UserHeader />
  <main>
    <router-view
      :key="componentKey"
      @reRenderComponent="reRenderComponent"
      @changeTitle="onChangeTitle"
    ></router-view>
  </main>
  <Footer />
</template>

<script>
import layout from "@/commons/layout";
import UserHeader from "./Header";

export default {
  name: "UserLayout",
  components: { UserHeader },
  setup() {
    const { componentKey, reRenderComponent, onChangeTitle } = layout();

    return { componentKey, reRenderComponent, onChangeTitle };
  },
};
</script>
