<template>
  <header>Admin</header>
</template>

<script>
// import { computed } from "vue";
// import { useStore } from "vuex";

export default {
  name: "AdminHeader",
  setup() {
    // const store = useStore();
  },
};
</script>

<style lang="scss">
header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #5a6268;
  padding: 0 2rem;
}
</style>
