<template>
  <section class="p-5">
    <router-link :to="{ name: 'Dashboard' }">Admin layout</router-link>
    <br />
    <router-link :to="{ name: 'Login' }">Login</router-link>
    <br />
    <hr />
    <h3 class="py-4">API call test</h3>
    {{ apiTest }}
    <hr />
    <h3 class="py-4">Static images</h3>
    <img src="@/assets/images/test-image.png" alt="" />
    <br />
    <hr />
    <h3 class="py-4">Font Awesome example</h3>
    <fa icon="envelope" />
    <fa icon="phone-alt" />
    <fa icon="caret-down" />
    <fa icon="user-lock" />
    <br />
    <hr />
    <h3 class="py-4">Form Vee-validate example</h3>
    <ValidationObserver ref="formChangePassword">
      <form class="mx-4 mb-4" @submit.prevent="onSubmit">
        <ValidationProvider
          name="New password"
          rules="required|min:6"
          vid="password"
        >
          <template class="form-group row" v-slot="{ errors }">
            <label for="inputPassword3" class="col-sm-4 col-form-label"
              >New Password (min 6 char)</label
            >
            <div class="col-sm-8">
              <input
                type="password"
                class="form-control"
                id="inputPassword3"
                placeholder="Mật khẩu"
                v-model="credentials.newPassword"
                vid="password"
              />
              <div v-if="errors" class="validate-error-msg">
                {{ errors[0] }}
              </div>
            </div>
          </template>
        </ValidationProvider>
        <ValidationProvider
          name="Confirm password"
          rules="required|confirmed:password"
        >
          <template class="form-group row" v-slot="{ errors }">
            <label for="inputPassword4" class="col-sm-4 col-form-label"
              >Confirm password</label
            >
            <div class="col-sm-8">
              <input
                type="password"
                class="form-control"
                id="inputPassword4"
                placeholder="Xác nhận mật khẩu"
                v-model="passwordConfirm"
              />
              <div v-if="errors" class="validate-error-msg">
                {{ errors[0] }}
              </div>
            </div>
          </template>
        </ValidationProvider>
        <div class="form-group row">
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-2">Submit</button>
          </div>
        </div>
      </form>
    </ValidationObserver>
    <hr />
    <h3 class="py-4">Bootstrap Vue</h3>
    <b-jumbotron>
      <template #header>BootstrapVue</template>

      <template #lead>
        This is a simple hero unit, a simple jumbotron-style component for
        calling extra attention to featured content or information.
      </template>

      <hr class="my-4" />

      <p>
        It uses utility classes for typography and spacing to space content out
        within the larger container.
      </p>

      <b-button variant="primary" href="#">Do Something</b-button>
      <b-button variant="success" href="#">Do Something Else</b-button>
    </b-jumbotron>
    <div>
      <b-progress :value="value" :max="max" show-progress animated></b-progress>
      <b-progress class="mt-2" :max="max" show-value>
        <b-progress-bar
          :value="value * (6 / 10)"
          variant="success"
        ></b-progress-bar>
        <b-progress-bar
          :value="value * (2.5 / 10)"
          variant="warning"
        ></b-progress-bar>
        <b-progress-bar
          :value="value * (1.5 / 10)"
          variant="danger"
        ></b-progress-bar>
      </b-progress>

      <b-button class="mt-3" @click="randomValue">Click me</b-button>
    </div>
    <hr />
    <h3 class="py-4">Element UI</h3>
    <el-pagination background layout="prev, pager, next" :total="1000">
    </el-pagination>
    <br />
    <br />
    <el-button type="text" @click="open"
      >Click to open the Message Box</el-button
    >
  </section>
</template>

<script>
import { ref, reactive } from "vue";

export default {
  name: "Index",
  setup() {
    const value = ref(45);
    const max = ref(100);
    const credentials = reactive({
      oldPassword: null,
      newPassword: null,
    });
    const passwordConfirm = ref(null);
    const isCallingApi = ref(false);
    const apiTest = reactive(null);

    testAPI();

    const randomValue = () => {
      this.value = Math.random() * this.max;
    };

    const open = () => {
      this.$alert("This is a message", "Title", {
        confirmButtonText: "OK",
        callback: (action) => {
          this.$message({
            type: "info",
            message: `action: ${action}`,
          });
        },
      });
    };

    const onSubmit = async () => {
      let result = await this.$refs.formChangePassword.validate();

      if (result) {
        if (isCallingApi.value) {
          return;
        }
        isCallingApi.value = true;

        try {
          let resChangePassword = await this.$api.put(
            this.$constant.API.CHANGE_PASSWORD,
            { ...credentials }
          );
          console.log(resChangePassword);
          isCallingApi.value = false;
        } catch (error) {
          isCallingApi.value = false;
          console.log(error);
        }
      }
    };

    const testAPI = async () => {
      isCallingApi.value = true;
      try {
        const response = await this.$api.get(this.$constant.API.GET_TESTS);
        if (response.status === 200) {
          this.apiTest = response.data.tests.slice(0, 3);
        }
        isCallingApi.value = false;
      } catch (error) {
        isCallingApi.value = false;
        console.log(error);
      }
    };

    return {
      value,
      max,
      credentials,
      passwordConfirm,
      apiTest,
      randomValue,
      open,
      onSubmit,
    };
  },
};
</script>
