<template>
  <footer>@Footer</footer>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style lang="scss">
footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a6268;
  color: white;
  padding: 0 2rem;
}
</style>
