<template>
  <section id="app">
    <component :is="layout" />
  </section>
</template>

<script>
import EmptyLayout from "@/components/layouts/EmptyLayout";
import AdminLayout from "@/components/layouts/admin/AdminLayout";
import UserLayout from "@/components/layouts/user/UserLayout";
import { computed, watch } from "vue";
import { useRoute } from "vue-router";

export default {
  name: "App",
  components: {
    EmptyLayout,
    AdminLayout,
    UserLayout,
  },
  setup() {
    const route = useRoute();
    /**
     * Setting layout
     * @returns {string}
     */
    const layout = computed(() => {
      return `${route.meta.layout || "empty"}-layout`;
    });
    /**
     * Setting static page title
     * @returns {VueI18n.TranslateResult|string}
     */
    const pageTitle = computed(() => {
      return route.meta && route.meta.pageTitle
        ? this.$t(route.meta.pageTitle) + this.$constant.BASE_TITLE
        : this.$constant.BASE_TITLE;
    });
    /**
     * Change static page title
     */
    watch(route, () => {
      document.title = pageTitle.value;
    });

    return { layout, pageTitle };
  },
};
</script>
